/**
 *
 * {{ properCase name }}
 *
 */

import * as React from 'react';
// import styled from 'styled-components';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}

export interface {{ properCase name }}Props {
}

class {{ properCase name }} extends {{{ type }}} <{{ properCase name }}Props, {}> {
  render() {
    return (
      <div>
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    );
  }
}

export default {{ properCase name }};
